name: Build and Release

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    name: Build Executables
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Get dependencies
        run: go mod download

      - name: Build Linux executable
        run: |
          GOOS=linux GOARCH=amd64 go build -o compressmaps-linux -ldflags="-s -w"
          chmod +x compressmaps-linux

      - name: Build Windows executable
        run: |
          GOOS=windows GOARCH=amd64 go build -o compressmaps.exe -ldflags="-s -w"

      - name: Upload release assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            compressmaps-linux
            compressmaps.exe
